---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ImageStrip from '../components/ImageStrip.astro'
---

<Layout title='Welcome to Astro.'>
    <Nav />
    <main>
        <Section bg='https://www.dagusa.com/img/header.jpg'>
            <div class='max-w-3xl text-center flex-col flex gap-8 text-white'>
                <h2 class='text-5xl'>
                    <span class='block'>HEY LOOK, IT'S EVERY</span>
                    <span class='block'>BOOTSTRAP WEBSITE EVER</span>
                </h2>
                <div class='divider border border-primary-500 w-40 mx-auto'>
                </div>
                <p class='text-sm'>
                    Take a look around at the same fucking bootstrap page you've
                    seen ten million times before! Featuring all the same things
                    as those pages!
                </p>
                <button
                    class='bg-primary-500 text-white font-bold w-fit mx-auto py-4 px-8 rounded-full'
                    >This button makes the page scroll</button
                >
            </div>
        </Section>
        <section
            class='bg-primary-500 min-h-[30vh] flex flex-col justify-center items-center py-[100px]'
        >
            <div class='max-w-3xl text-center flex-col flex gap-8 text-white'>
                <h3 class='text-2xl'>
                    <span class='block'
                        >Want to make an original website yourself?
                    </span>
                </h3>
                <div class='divider border border-white w-40 mx-auto'></div>
                <p class='text-sm'>
                    Forget that! Who would ever want to put in all of that
                    effort for a website? Just open up your web browser and type
                    "bootstrap template" into your favorite search engine, like
                    Yahoo! or Bing, and you're on your way! There are hundreds
                    of templates to choose from, but go ahead and pick this same
                    exact template from the first result on google, edit a few
                    lines, and you're on your way! No one will notice!
                </p>
                <button
                    class='bg-white text-black font-bold w-fit mx-auto py-4 px-8 rounded-full'
                    >Google That</button
                >
            </div>
        </section>
        <section
            class='bg-white color min-h-[30vh] flex flex-col justify-center items-center py-[100px]'
        >
            <div class='max-w-6xl text-center flex-col flex gap-8 text-black'>
                <h3 class='text-2xl'>
                    <span class='block'>Everybody's so creative</span>
                </h3>
                <div class='divider border border-primary-500 w-40 mx-auto'>
                </div>
                <div
                    class='mt-10 grid grid-cols-2 md:grid-cols-4 auto-cols-max gap-10'
                >
                    <Card
                        title='This Fucking Template'
                        body='Guaranteed to use the same fucking template that every other bootstrap website uses, downloaded straight from The Web™'
                    />
                    <Card
                        title='This Set of Four Icons'
                        body="Look at this cool set of four icons describing different things about us! We use four, because it's the default."
                    />
                    <Card
                        title='Lots of effort'
                        body='We even changed some of the icons! We take the extra effort to make our designs truly original.'
                    />
                    <Card
                        title='Made with Love'
                        body='Because nothing says hard work and talent like editing a few lines of text.'
                    />
                </div>
            </div>
        </section>
        <div
            class='divider-images bg-gray-200 grid grid-cols-2 lg:grid-cols-4 gap-0 min-h-[200px]'
        >
            <ImageStrip />
            <ImageStrip />
            <ImageStrip />
            <ImageStrip />
        </div>
    </main>
</Layout>
