---
// export interface Props {
//     title: string
//     body: string
// }
const { title, body } = Astro.props
---

<li class='flex flex-col items-center gap-4 min-w-[200px] max-w-[400px]'>
    <div class='icon h-[50px] w-[50px] bg-primary-500'></div>
    <h4 class='text-lg font-bold'>
        {title}
    </h4><p class='text-md'>
        {body}
    </p>
</li>
