---
const randomNumber = () => {
    return Math.floor(Math.random() * 10);
};

let images = [`https://placeholder.com/40${randomNumber()}x20${randomNumber()}`];
---

<div
    class="bg-no-repeat w-full border bg-cover bg-center border-red-500"
    style={{
        backgroundImage: `url(${images[0]})`,
    }}
>
</div>
